<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.devgcoder.mybatis.entity.mapper.MybatisEntityMapper">

  <insert id="insertEntity" parameterType="java.lang.Class"></insert>
  <insert id="insertEntityList"></insert>
  <update id="updateEntity" parameterType="java.lang.Class"></update>
  <update id="updateEntityByMap"></update>
  <delete id="deleteEntity" parameterType="java.lang.Class"></delete>
  <delete id="deleteEntityByMap"></delete>
  <select id="selectMapList" resultType="java.util.Map"></select>
</mapper>